.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  background-color: #5c5b5b;
}

.card p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  scale: 1.1;
}
