.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 25px 0;
  border-top: 1px solid #c19dff;
  border-bottom: 1px solid #c19dff;
  /* background-color: #5c5b5b; */
}

.card p {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  scale: 1.1;
}
